<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
  </section>
  
  <br><h2>Destinations</h2>
  <form id="add-destination-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Arrival:</label>
      <input type="datetime-local" 
                value="2022-09-30T16:20"
                name="arrival">
      <label>Airport:</label>
      <select name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN" selected>DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
      </select>
      <input type="submit" value="Add Destination">
  </form>
  
  <% if (flight.destinations.length) { %>
      <table>
        <thead>
          <tr>
            <th>Destination</th>
            <th>Arrival Date</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(f) { %>
            <tr>
              <td><%= f.airport %></td>
              <td><%= f.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Destinations Yet</h5>
    <% } %>
  
    <a href=''>New Ticket</a>
  
  
    <br><h2>Tickets</h2>
    <br><br><form 
        id="add-ticket-form" 
        action="/flights" 
        method="POST">
      <label>Seat:</label>
      <input type="text" name="seat">
      <label>Price:</label>
      <input type="text" name="price">
      <label>flight:</label>
      <input type="text" name="flight">
      <input type="submit" value="Add Ticket">
    </form>
  
    <% if (flight.tickets.length) { %>
      <table>
        <thead>
          <tr>
            <th>Seat</th>
            <th>Price</th>
            <th>Flight</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(function(t) { %>
            <tr>
              <td><%= t.seat %></td>
              <td><%= t.price %></td>
              <td><%= t.flight %> </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Tickets Yet</h5>
    <% } %>